{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% trans_default_domain 'import' %}

{% block page_title %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'Import from CSV',
        iconName: 'circle-caret-up'
    } %}
{% endblock %}

{% block left_sidebar %}{% endblock left_sidebar %}

{% block content %}
<section class="container mt-4 px-5">

        <div class="card border-light my-4">
            <div class="card-body" id="csv-card" data-step="{{step}}" data-file-name="{{file_name}}" data-content-type="{{content_type}}">

                <h3 class="mb-2">Import from CSV</h3>

                {% if step == "3" %}
                    The following lines from the CSV where imported as {{content_type}}:

                    <div class="ez-table">
                        <div class="table-container">
                            <div class="ez-table-header">
                                <h5>Imported data</h5>
                            </div>
                            <table class="table">
                                <tr>
                                    <th>ContentId</th><th>Content Name</th><th>Published</th>
                                </tr>

                                {% for line in content_added %}
                                <tr>
                                    {% for column in line[0] %}
                                    <td>{{column}}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>

                {% else %}

                    <p>Currently the columns of CSV have to be in the same order as the fields in the field type. At the moment only the field types ezstring, ezmail are supported.</p>

                    {#{dump(available_languages)}#}

                    <h5>Choose language objects will be created in</h5>
                    <select class="form-control" id="select_language">
                    {% for language in available_languages %}
                        <option value="{{language}}">{{language}}</option>
                    {% endfor %}
                    </select>

                    <br>

                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body" id="card-step-1">
                                <h5 class="card-title">Select file</h5>
                                <form method="POST" action="/admin/csv/import/1" enctype="multipart/form-data" >
                                    <div class="form-group">
                                        <input class="form-control-file" type="file" id="csvFile" name="csvFile"><br>
                                        <button class="btn btn-lg btn-primary" type="submit" onclick="">
                                            <svg class="ez-icon">
                                                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#upload"></use>
                                            </svg>
                                            Upload
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="arrow-right my-2 my-lg-0"></div>
                        <div class="card">
                            <div class="card-body invisible" id="card-step-2">
                                <h5 class="card-title">Select content type</h5>

                                <div>
                                    <select class="ez-field-selection form-control" id="select_content_type">
                                        <option>Select</option>
                                    {% for item in content_types %}
                                        <option value="{{item.identifier}}">{{item.names['eng-GB']}}</option>
                                    {% endfor %}
                                    </select>
                                    <br>
                                    <a class="btn btn-lg btn-primary" id="btn_content_type" href="javascript:gotoURL( '{{file_name}}' );">
                                        <svg class="ez-icon">
                                            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#checkmark"></use>
                                        </svg>
                                        Validate
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="arrow-right"></div>
                        <div class="card csv-card">
                            <div class="card-body invisible" id="card-step-3">
                                <h5 class="card-title">Select location</h5>
                                <p>Warning: import will start once location is selected</p>

                                <button class="btn--udw-browse-csv btn btn-lg btn-primary" data-starting-location-id="1">
                                    <svg class="ez-icon ez-icon-browse">
                                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#browse"></use>
                                    </svg>
                                    Browse
                                </button>

                            </div>
                        </div>
                    </div>

                    {% if file_content|length %}

                        <br>

                        <div class="ez-table">
                            <div class="table-container">
                                <div class="ez-table-header">
                                    <h5>Review data</h5>
                                </div>
                                <table class="table">
                                {% for item in file_content %}

                                  {% set columns = item|length %}
                                  {% set columns_index = columns - 1 %}
                                  {% set i = 0 %}

                                    <tr>
                                        {% for subitem in item %}
                                            {% if columns_index != i %}
                                            <td {% if item[columns_index] == 1 %}class="text-danger"{% endif %}>{{subitem}}</td>
                                            {% set i = i + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>

                                {% endfor %}
                                </table>
                            </div>
                        </div>

                    {% endif %}

                {% endif %}

            </div>
        </div>

</section>

{% stylesheets filter='cssrewrite'
    'bundles/donfelicecsvimportexport/css/csvimportexport.css'
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% javascripts
    'https://code.jquery.com/jquery-3.2.1.slim.min.js'
    'bundles/donfelicecsvimportexport/js/csvimportexport.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
